@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;700&display=swap');

html,body{
  background-color: #1A1F16;
  font-family: 'Raleway', sans-serif;
}
h1.logo-green{
  color:#8AE1FC ;
  font-size: 60px;
  font-weight: 700;
  padding: 0px;
  margin:0px
}
.logo-white{
  color: #ffffff;
  font-weight: 200;
}
.paddingtb15{
  padding: 15px 0;
}
.paddingtb45{
  padding: 40px 0;
}

h2,h3,h4,h5,h6{padding:0px; margin: 0px;}
.box{
  background-color: #f5f8fb;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 12px;
}

/* #8AE1FC */
/* #48B8D0 */
/* #89023E */
/* #C7D9B7 */
/* #1A1F16 */
/* #8AE1FC */